{% include web/header.html %}

{% block meat %}
<form action="addactivityrequest" method="post">
	  <fieldset>
	    <legend>Adding activity:</legend>
<table>
<tr>
	    <td> Name: </td>
	    <td> <input type="text" name="contact_type" value=""> </td>

</tr><tr>
	    <td> Type: </td>
	    <td> <select name ="activity_type" style="width: 150px;"> </td>
	<td> {% block titles %}
		<td> <option value="{{ type_value }}"> {{ type_show }}</option>
	 {% endblock %} 
 	     </select> 
</td>
</tr><tr>

	    <td> Status: </td>
<td>
	    <select name ="activity_status" style="width: 150px;">
	{% block titles %}
		<option value="{{ status_value }}"> {{ status_show }}</option>
	{% endblock %}
 	    </select>
</td>
</tr><tr>


	    <td> Priority: </td>
<td>
	    <select name ="activity_priority" style="width: 150px;">
	{% block titles %}
		<option value="{{ priority_value }}"> {{ priority_show }}</option>
	{% endblock %}
 	    </select>
</td>
</tr><tr>
	    <td> Presider: </td>
<td>
	    <select name ="who_preside" style="width: 150px;">
	{% block titles %}
		<option value="{{ presider_value }}"> {{ presider_show }}</option>
	{% endblock %}
 	    </select>
</td>
</tr>

	    <td> Note:		 </td>
</table>
	    <TEXTAREA NAME="note" COLS=50 ROWS=6></TEXTAREA><br><br>	
	    <input type="submit" value="Submit">
	  </fieldset>
</form>
{% endblock %}


{% include web/footer.html %}

