{% include web/header.html %}

{% block meat %}
<form action="addactivityrequest" method="post">
	  <fieldset>
	    <legend>Adding activity:</legend>
<table>
<tr>
	    <td> Subject: </td>
	    <td> <input type="text" name="activity_name" value=""> </td>

</tr><tr>
	    <td> Type: </td>
	    <td> <select name ="activity_type" style="width: 150px;"> 
	 {% block typeblock %}
		 <option value="{{ activity_type_value }}"> {{ activity_type_show }}</option>
	 {% endblock %} 
 	     </select> 
</td>
</tr><tr>

	    <td> Status: </td>
<td>
	    <select name ="activity_status" style="width: 150px;">
	{% block statusblock %}
		<option value="{{ activity_status_value }}"> {{ activity_status_show }}</option>
	{% endblock %}
 	    </select>
</td>
</tr><tr>


	    <td> Priority: </td>
<td>
	    <select name ="activity_priority" style="width: 150px;">
	{% block priorityblock %}
		<option value="{{ activity_priority_value }}"> {{ activity_priority_show }}</option>
	{% endblock %}
 	    </select>
</td>
</tr><tr>
	    <td> Presider: </td>
<td>
	    <select name ="who_preside" style="width: 150px;">
	{% block presiderblock %}
		<option value="{{ activity_presider_value }}"> {{ activity_presider_show }}</option>
	{% endblock %}
 	    </select>
</td>
</tr>

	    <td> Note:		 </td>
</table>
	    <TEXTAREA NAME="note" COLS=50 ROWS=6></TEXTAREA><br><br>	
	    <input type="submit" value="Submit">
	  </fieldset>
</form>
{% endblock %}


{% include web/footer.html %}

