{% include web/header.html %}

{% block meat %}
<field>
	    <legend>Add {{ company }} contact </legend>

<form action="/contact" method="post">
<input type="hidden" id="category"  name="category" value="{{ category }}">
<input type="hidden" id="source_id"  name="source_id" value="{{ source_id }}">
<table>
<tr>
<td>Status:</td> <td> <input type="text" name="status" value=""></td>
<td>FirstName:</td> <td> <input type="text" name="first_name" value=""></td>
</tr><tr>
<td>LastName:</td> <td> <input type="text" name="last_name" value=""></td>
<td>Address:</td> <td> <input type="text" name="address" value=""></td>
</tr><tr>
<td>Primary phone:</td> <td> <input type="text" name="primary_phone" value=""></td>
<td>Alt phone:</td> <td> <input type="text" name="alt_phone" value=""></td>
</tr><tr>
<td>Mobile phone:</td> <td> <input type="text" name="mobile_phone" value=""></td>
<td>Fax:</td> <td> <input type="text" name="fax" value=""></td>
</tr><tr>
<td>Email:</td> <td> <input type="text" name="email" value=""></td>
<td>Twitter:</td> <td> <input type="text" name="twitter" value=""></td>
</tr><tr>
<td>Linkedin:</td> <td> <input type="text" name="linkedin" value=""></td>
<td>Facebook:</td> <td> <input type="text" name="facebook" value=""></td>
</tr><tr>
<td>Job title:</td> <td> <input type="text" name="job_title" value=""></td>
<!--
<td>Company id:</td> <td> <input type="text" name="company_id" value=""></td>
//-->
<td>When met:</td> <td> <input type="text" name="when_met" value=""></td>
</tr><tr>
<td>Where met:</td> <td> <input type="text" name="where_met" value=""></td>
<td>Time zone:</td> <td> <input type="text" name="time_zone" value=""></td>
</tr><tr>
<td>Main contact:</td> <td> <input type="text" name="main_contact" value=""></td>
<td>Out of_marketing:</td> <td> <input type="text" name="out_of_marketing" value=""></td>
</tr><tr>
<td>Out of_billing:</td> <td> <input type="text" name="out_of_billing" value=""></td>
<td>Extra info:</td> <td> <input type="text" name="extra_info" value=""></td>
</tr><tr>
<td>	    <input type="submit" name="submit"  value="add"></td>
</tr>
</table>

	  </fieldset>
{% endblock %}
</form>


{% include web/footer.html %}
