{% include web/header.html %}


<form action="addcustomerrequest" method="post">
  	    Select Lead:
 <select name ="lead_origin"  id="origin_id" style="width: 150px;">
<option value="0"> </option>
 	    </select><br><br>
	  <fieldset>
<legend>Customer Information:</legend>
<table>
<tr>
	<td>Company Name:</td><td><input type="text" name="company_name" value=""> </td>
	<td>Contact Name:</td><td><input type="text" name="contact_name" value=""> </td>
</tr><tr>
	<td>Mr/Ms:</td><td><input type="text" name="personal_title" value=""> </td>
	<td>First Name:</td><td><input type="text" name="first_name" value=""> </td>
</tr><tr>
	<td>Last Name:</td><td><input type="text" name="last_name" value=""> </td>
	<td>Phone:</td><td><input type="text" name="phone" value=""> </td>
</tr><tr>
	<td>Email:</td><td><input type="text" name="email" value=""> </td>
	<td>Street Addr:</td><td><input type="text" name="street_addr" value=""> </td>
</tr><tr>
	<td>City:</td><td><input type="text" name="city" value=""> </td>
	<td>State:</td><td><input type="text" name="state" value=""> </td>
</tr><tr>
	<td>Post Code:</td><td><input type="text" name="post_code" value=""> </td>
	<td>Country:</td><td><input type="text" name="country" value=""> </td>
</tr><tr>
	<td>Bill Addr:</td><td><input type="text" name="bill_addr" value=""> </td>
	<td>Ship Addr:</td><td><input type="text" name="ship_addr" value=""> </td>
</tr><tr>
	    <td><input type="submit" value="Submit"></td>
</tr>
</table>

	  </fieldset>
</form>

 
<script>
function fill_customer() {
  
	$.getJSON("/listlead", { "directory": "add_customer" }, function(jsonData) {
	var leadValues = $( "#origin_id" );
	$.each(jsonData.recordset,function(key, value) {
	leadValues.append('<option value=' + value.key + '>' + value.value + '</option>');
	});
	})
	.error(function() { alert("error"); });
}

$( document ).ready( function() {
	fill_customer();
	});
 
//$( "#origin_id" ).change( fill_customer );
</script>

{% include web/footer.html %}
