{% include web/header.html %}

{% block meat %}
<form action="{{ newcontact }}" method="post">
	  <fieldset>
	    <legend>{{ Information_id }}</legend>
	Choose From {{ contact_source }}:
	    <select name ="contact_source" style="width: 150px;">
	{% block from_block %}
		<option value="{{ from_value }}"> {{ from_show }}</option>
	{% endblock %}
	</select><br><br>
<table>
<tr>
<td>Status: <input type="text" name="status" value=""></td>
<td>FirstName: <input type="text" name="firstName" value=""></td>
</tr><tr>
<td>LastName: <input type="text" name="lastName" value=""></td>
<td>Address: <input type="text" name="address" value=""></td>
</tr><tr>
<td>Primary phone: <input type="text" name="primary_phone" value=""></td>
<td>Alt phone: <input type="text" name="alt_phone" value=""></td>
</tr><tr>
<td>Mobile phone: <input type="text" name="mobile_phone" value=""></td>
<td>Fax: <input type="text" name="fax" value=""></td>
</tr><tr>
<td>Email: <input type="text" name="email" value=""></td>
<td>Twitter: <input type="text" name="twitter" value=""></td>
</tr><tr>
<td>Linkedin: <input type="text" name="linkedin" value=""></td>
<td>Facebook: <input type="text" name="facebook" value=""></td>
</tr><tr>
<td>Job title: <input type="text" name="job_title" value=""></td>
<td>Company id: <input type="text" name="company_id" value=""></td>
</tr><tr>
<td>When met: <input type="text" name="when_met" value=""></td>
<td>Where met: <input type="text" name="where_met" value=""></td>
</tr><tr>
<td>Time zone: <input type="text" name="time_zone" value=""></td>
<td>Main contact: <input type="text" name="main_contact" value=""></td>
</tr><tr>
<td>Out of_marketing: <input type="text" name="out_of_marketing" value=""></td>
<td>Out of_billing: <input type="text" name="out_of_billing" value=""></td>
</tr><tr>
<td>Extra info: <input type="text" name="extra_info" value=""></td>
<td>	    <input type="submit" value="Submit"></td>
</tr>

	  </fieldset>
{% endblock %}
</form>


{% include web/footer.html %}
