{% include web/header.html %}

{% block meat %}

<form action="addemployeerequest" method="post">
	  <fieldset>
	    <legend></legend>
	    First Name:
	    <input type="text" name="first_name" value=""><br><br>
	    Last Name:
	    <input type="text" name="last_name" value=""><br><br>
	Title:
	    <select name ="title" style="width: 150px;">
	{% block titles %}
		<option value="{{ title_value }}"> {{ title_show }}</option>
	{% endblock %}
 	    </select><br><br>
	    Department:
	    <select name ="department" style="width: 150px;">
	{% block departments %}
		<option value="{{ department_value }}"> {{ department_show }}</option>
	{% endblock %}
 	    </select><br><br>
	    Report to:
	    <select name ="department" style="width: 150px;">
	{% block report_to %}
		<option value="{{ report_value }}"> {{ report_show }}</option>
	{% endblock %}
 	    </select><br><br>
	    Age:
	    <select name ="age" style="width: 150px;">
	{% block ages %}
		<option value="{{ age_value }}"> {{ age_show }}</option>
	{% endblock %}
 	    </select> <br><br>
	    Address:
	    <input type="text" name="address" value=""><br><br>
	    Mobile:
	    <input type="text" name="mobile_phone" value=""><br><br>
	    Office phone:
	    <input type="text" name="office_phone" value=""><br><br>
	    Home Phone:
	    <input type="text" name="home_phone" value=""><br><br>
	    Email:
	    <input type="text" name="email" value=""><br><br>

	    <input type="submit" value="Submit">
	  </fieldset>
</form>

{% endblock %}


{% include web/footer.html %}
