{% include web/header.html %}

<form action="addleadrequest" method="post">
	  <fieldset>
	    <legend>Lead Information:</legend>
<table>
<tr>
<td>	Company name : </td> <td> <input type="text" name="company_name", value=""> </td>
<td>	Contact name : </td> <td> <input type="text" name="contact_name", value=""> </td>
</tr>
<tr>
<td>	Personal title : </td> <td> <input type="text" name="personal_title", value=""> </td>
<td>	First name : </td> <td> <input type="text" name="first_name", value=""> </td>
</tr>
<tr>
<td>	Last name : </td> <td> <input type="text" name="last_name", value=""> </td>
<td>	Phone : </td> <td> <input type="text" name="phone", value=""> </td>
</tr> <tr>
<td>	Email : </td> <td> <input type="text" name="email", value=""> </td>
<td>	Street addr : </td> <td> <input type="text" name="street_addr", value=""> </td>
</tr> <tr>
<td>	City : </td> <td> <input type="text" name="city", value=""> </td>
<td>	State : </td> <td> <input type="text" name="state", value=""> </td>
</tr> <tr>
<td>	Post code : </td> <td> <input type="text" name="post_code", value=""> </td>
<td>	Country : </td> <td> <input type="text" name="country", value=""> </td>
</tr> <tr>
<td>	Bill addr : </td> <td> <input type="text" name="bill_addr", value=""> </td>
<td>	Ship addr : </td> <td> <input type="text" name="ship_addr", value=""> </td>
</tr> <tr>
	<td>Lead source : </td> <td> 
    <select name ="lead_source" id="lead_source_id" style="width: 180px;">
    </select>
</td> <td>
	Lead status : </td> <td>
    <select name ="lead_status" id="lead_status_id" style="width: 180px;">
    </select>
</td> </tr>
<tr> <td>
	Lead rating : </td> <td> 
    <select name ="lead_rating" id="lead_rating_id" style="width: 180px;">
    </select>
</td><td> <input type="submit" value="Submit">
</td> </tr>
</table>
	  </fieldset>
</form>
 
<script>
function fillLeadSource() {
  
	$.getJSON("/listlead", { "directory": "lead_source"}, function(jsonData) {
		var sourceValues = $( "#lead_source_id" );
		$.each(jsonData.recordset,function(key, value) {
		sourceValues.append('<option value=' + value.key + '>' + value.value + '</option>');
		});
	})
	//.error(function() { alert("json error"); });
}

function fillLeadStatus() {
  
	$.getJSON("/listlead", { "directory": "lead_status" }, function(jsonData) {
	var statusValues = $( "#lead_status_id" );
	$.each(jsonData.recordset,function(key, value) {
	statusValues.append('<option value=' + value.key + '>' + value.value + '</option>');
	});
	})
	//.error(function() { alert("json error"); });
}

function fillLeadRating() {
  
	$.getJSON("/listlead", { "directory": "lead_rating" }, function(jsonData) {
	var ratingValues = $( "#lead_rating_id" );
	$.each(jsonData.recordset,function(key, value) {
	ratingValues.append('<option value=' + value.key + '>' + value.value + '</option>');
	});
	})
//	.error(function() { alert("json error"); });
	 .error(function (XMLHttpRequest, textStatus, errorThrown) {
	//alert(XMLHttpRequest.responseText);

})
}

$( document ).ready( function(){
	fillLeadSource();
	fillLeadStatus();
	fillLeadRating();
});
 
</script>
 

{% include web/footer.html %}


