{% include web/header.html %}

{% block meat %}
<form action="addleadrequest" method="post">
	  <fieldset>
	    <legend>Lead Information:</legend>
<table>
<tr>
<td>	Company name : </td> <td> <input type="text" name="company_name", value=""> </td>
<td>	Contact name : </td> <td> <input type="text" name="contact_name", value=""> </td>
</tr>
<tr>
<td>	Personal title : </td> <td> <input type="text" name="personal_title", value=""> </td>
<td>	First name : </td> <td> <input type="text" name="first_name", value=""> </td>
</tr>
<tr>
<td>	Last name : </td> <td> <input type="text" name="last_name", value=""> </td>
<td>	Phone : </td> <td> <input type="text" name="phone", value=""> </td>
</tr>
<tr>
<td>	Email : </td> <td> <input type="text" name="email", value=""> </td>
<td>	Street addr : </td> <td> <input type="text" name="street_addr", value=""> </td>
</tr>
<tr>
<td>	City : </td> <td> <input type="text" name="city", value=""> </td>
<td>	State : </td> <td> <input type="text" name="state", value=""> </td>
</tr>
<tr>
<td>	Post code : </td> <td> <input type="text" name="post_code", value=""> </td>
<td>	Country : </td> <td> <input type="text" name="country", value=""> </td>
</tr>
<tr>
<td>	Bill addr : </td> <td> <input type="text" name="bill_addr", value=""> </td>
<td>	Ship addr : </td> <td> <input type="text" name="ship_addr", value=""> </td>
</tr>
<tr>
	<td>Lead source : </td> <td> 
    <select name ="lead_source" style="width: </td> <td> 150px;">
{% block lead_source %}
	<option value="{{ lead_source_value }}"> {{ lead_source_show }}</option>
{% endblock %}
    </select>
</td>
<td>
	Lead status : </td> <td>
    <select name ="lead_status" style="width: </td> <td> 150px;">
{% block lead_status %}
	<option value="{{ lead_status_value }}"> {{ lead_status_show }}</option>
{% endblock %}
    </select>
</td>
</tr>
<tr>
<td>
	Lead rating : </td> <td> 
    <select name ="lead_rating" style="width: 150px;">
{% block lead_rating %}
	<option value="{{ lead_rating_value }}"> {{ lead_rating_show }}</option>
{% endblock %}
    </select>
</td><td> <input type="submit" value="Submit">
</td>
</tr>
</table>
	  </fieldset>
</form>
{% endblock %}


{% include web/footer.html %}


