{% include web/header.html %}

{% block meat %}

<form action="order" method="post">
	  <fieldset>
	    <legend>Add Order:</legend>
<table>
<tr>
<td> Customer_id : </td><td><input type="text" name="customer_id" value=""> </td>
<td> Product_id : </td><td><input type="text" name="product_id" value=""> </td>
</tr> <tr>
<td> Order_amount : </td><td><input type="text" name="order_amount" value=""> </td>
<td> Order_date : </td><td><input type="text" name="order_date" value=""> </td>
</tr> <tr>
<td> Order_status : </td><td><input type="text" name="order_status" value=""> </td>
</td><td> <input type="submit" name="submit" id="submit" value="add">
</tr>
</table>


{% include web/footer.html %}
