{% include web/header.html %}

{% block meat %}
<form action="transaction" method="post">
	  <fieldset>
	    <legend>Order Information:</legend>
	    Customer ID:<br>
	    <input type="text" name="customer_id" value=""><br>
	    Product ID:<br>
	    <input type="text" name="product_id" value=""><br><br>
	    Order amount:<br>
	    <input type="text" name="order_amount" value=""><br><br>
	    Date:<br>
	    <input type="text" name="date" value=""><br><br>
	    Order status:<br>
	    <input type="text" name="order_status" value=""><br><br>	
	    <input type="submit" value="add">
	  </fieldset>
</form>
{% endblock %}


{% include web/footer.html %}
