{% include web/header.html %}


<form id="add_form"  action="user" method="post">
	  <fieldset>
	    <legend>Select user to add login account</legend>
<table>
<tr>
  	<td>Select User:</td><td>
	    <select id="user_id" name ="new_user" style="width: 150px;">
 	    </select>
	    </td>
</tr><tr>
<td>Login ID:</td><td>
	    <input type="text" name="login_name" value="">
	    </td>
</tr><tr>
<td>Password:</td><td>
	    <input type="text" name="pass_word" value="">
	    </td>
</tr><tr>
<td>Repeat Passord:</td><td>
	    <input type="text" name="pass_word" value="">
	    </td>
</tr><tr>
<td> Role:</td><td>
	    <select id="role_id" name = "role_id" style="width: 150px;">
	    </select>
	    </td>
</tr><tr>
<td>Profile:</td><td>
	    <select id="profile_id" name = "profile_id" style="width: 150px;">
	    </select>
</td>
</tr><tr>
<td>
	    <input type="submit" value="add" >
</td>
</table>
	  </fieldset>
</form>


<script>
function fill_users() {
  
	$.getJSON("/user", {"action":"list",  "directory": "all_users"}, function(jsonData) {
		var sourceValues = $( "#user_id" );
		$.each(jsonData.recordset,function(key, value) {
		sourceValues.append('<option value=' + key + '>' + value + '</option>');
		});
	})
	 .error(function (XMLHttpRequest, textStatus, errorThrown) { })
	alert(XMLHttpRequest.responseText);
}

function fill_roles() {
  
	$.getJSON("/user", { "action":"list", "directory": "role_id" }, function(jsonData) {
	var statusValues = $( "#role_id" );
	$.each(jsonData.recordset,function(key, value) {
	statusValues.append('<option value=' + key + '>' + value + '</option>');
	});
	})
	 .error(function (XMLHttpRequest, textStatus, errorThrown) { })
	alert(XMLHttpRequest.responseText);
}

function fill_profiles() {
  
	$.getJSON("/user", { "action":"list", "directory": "profiles" }, function(jsonData) {
	var ratingValues = $( "#profile_id" );
	$.each(jsonData.recordset,function(key, value) {
	ratingValues.append('<option value=' + value.key + '>' + value.value + '</option>');
	});
	})
	 .error(function (XMLHttpRequest, textStatus, errorThrown) { })
	alert(XMLHttpRequest.responseText);
}

function validateFormInput(){
	//var email = $("#add_form input[name=email]").val();
//verify tmail
	
	return true;
}

$( document ).ready( function(){
	fill_users();
	fill_roles();
	fill_profiles();
});
 
</script>

{% include web/footer.html %}
  

