
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>iDRM management system</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>

<script>
/*
$(function () {
 $('#drmtabs').tabs({
 activate: function (event, ui) {
 var $activeTab = $('#drmtabs').tabs('option', 'active');
 if ($activeTab == 1) {
	alert( $activeTab) ; 
 } }
 });
});
*/
$(function () {
	$('#drmtabs').tabs({
	activate: function (event, ui) {
	var $activeTab = $('#drmtabs').tabs('option', 'active');

	ui.oldPanel.hide();
	ui.oldPanel.removeClass('active');
	ui.oldPanel.removeClass('current');
	ui.newPanel.show();
	ui.newPanel.addClass('active');
	ui.newPanel.addClass('current');

	if ($activeTab == 1) {
	//init_customer_page();
	//alert( $activeTab) ; 
	} }
	});
});
</script>
</head>
<body>
 
<div id="drmtabs">
  <ul>
    <li><a href="#drmtab_lead">Lead</a></li>
    <li><a href="#drmtab_customer">Customer</a></li>
    <li><a href="#drmtab_contact">Contact</a></li>
    <li><a href="#drmtab_activity">Activity</a></li>
    <li><a href="#drmtab_campaign">Campaign</a></li>
    <li><a href="#drmtab_opportunity">Opportunity</a></li>
    <li><a href="#drmtab_supplier">Supplier</a></li>
    <li><a href="#drmtab_order">Order</a></li>
    <li><a href="#drmtab_product">Product</a></li>
    <li><a href="#drmtab_employee">Employee</a></li>
    <li><a href="#drmtab_user">User</a></li>
  </ul>
	<div id="drmtab_lead" >
	{% include web/lead_interface %}
	</div>
	<div id="drmtab_customer" >
	{% include web/customer_interface %}
	</div>
	<div id="drmtab_contact" >
	{% include web/contact_interface %}
	</div>
	<div id="drmtab_activity" >
	{% include web/activity_interface %}
	</div>
	<div id="drmtab_campaign" >
	{% include web/campaign_interface %}
	</div>
	<div id="drmtab_opportunity" >
	{% include web/opportunity_interface %}
	</div>
	<div id="drmtab_supplier" >
	{% include web/supplier_interface %}
	</div>
	<div id="drmtab_order" >
	{% include web/order_interface %}
	    "drmtab_order"
	</div>
	<div id="drmtab_product" >
	{% include web/product_interface %}
	</div>
	<div id="drmtab_employee" >
	{% include web/employee_interface %}
	</div>
	<div id="drmtab_user" >
	{% include web/user_interface %}
	</div>
</div>
</body>
</html>
