{% include web/header.html %}

{% block meat %}

<form action="lead" method="post">

<input type="hidden" id="lead_id"  name="lead_id" value="{{ lead_id }}">
<legend>Lead to edit :</legend>
<table>
<tr>
	<td>Company Name:</td><td><input type="text" name="company_name" value=""> </td>
	<td>Contact Name:</td><td><input type="text" name="contact_name" value=""> </td>
</tr><tr>
	<td>Mr/Ms:</td><td><input type="text" name="personal_title" value=""> </td>
	<td>First Name:</td><td><input type="text" name="first_name" value=""> </td>
</tr><tr>
	<td>Last Name:</td><td><input type="text" name="last_name" value=""> </td>
	<td>Phone:</td><td><input type="text" name="phone" value=""> </td>
</tr><tr>
	<td>Email:</td><td><input type="text" name="email" value=""> </td>
	<td>Street Addr:</td><td><input type="text" name="street_addr" value=""> </td>
</tr><tr>
	<td>City:</td><td><input type="text" name="city" value=""> </td>
	<td>State:</td><td><input type="text" name="state" value=""> </td>
</tr><tr>
	<td>Post Code:</td><td><input type="text" name="post_code" value=""> </td>
	<td>Country:</td><td><input type="text" name="country" value=""> </td>
</tr><tr>
	<td>Bill Addr:</td><td><input type="text" name="bill_addr" value=""> </td>
	<td>Ship Addr:</td><td><input type="text" name="ship_addr" value=""> </td>
</tr><tr>
	    <td><input type="submit"  name="submit" value="save"></td>
</tr>
</table>

	  </fieldset>
</form>
{% endblock %}
<button id="add contact"  onclick="addcontact();" value="Add Lead Contact">  Add Lead Contact </button>
<br><br>

 
<script>

function addcontact(){

	var id  = $("#lead_id").val();
	var cp = $("input[name=company_name]").val();
	var url="/contact?action=add&category=lead&source_id=";
	url = url + id + '&' + "company=" + cp;
	window.location = url;
	//window.open(url, "myWindow", "width=500,height=200");
}

function fill_form() {
  
	var lead_id = $("#lead_id").val();
	var qjson = {};
	qjson["action"] = "list";
	qjson["directory"] = "edit_lead";
	qjson["lead_id"] = lead_id;
	$.getJSON("/lead", qjson, function(jsonData) {
	var leadValues = jsonData ;
		
	$("input[name='company_name']").val(leadValues["company_name"]);
	$("input[name='contact_name']").val(leadValues["contact_name"]);
	$("input[name='personal_title']").val(leadValues["personal_title"]);
	$("input[name='first_name']").val(leadValues["first_name"]);
	$("input[name='last_name']").val(leadValues["last_name"]);
	$("input[name='phone']").val(leadValues["phone"]);
	$("input[name='email']").val(leadValues["email"]);
	$("input[name='street_addr']").val(leadValues["street_addr"]);
	$("input[name='city']").val(leadValues["city"]);
	$("input[name='state']").val(leadValues["state"]);
	$("input[name='post_code']").val(leadValues["post_code"]);
	$("input[name='country']").val(leadValues["country"]);
	$("input[name='bill_addr']").val(leadValues["bill_addr"]);
	$("input[name='ship_addr']").val(leadValues["ship_addr"]);
	});
	 //.error(function (XMLHttpRequest, textStatus, errorThrown) { })
	//alert(XMLHttpRequest.responseText);
}

$( document ).ready( function() {
	fill_form();
	});
 
</script>

{% include web/footer.html %}
