{% include web/header.html %}

{% block meat %}
<form action="/activity" method="post">
<input type="hidden" name="activity_id" value="{{ activity_id }}">
	  <fieldset>
	    <legend>Editing activity:</legend>
<table id="edit_activity_id" border="1">
<tr>
	    <td> Subject: </td>
	    <td> <input type="text" name="activity_name" value=""> </td>
</tr><tr>
	    <td> Type: </td>
	    <td> <select name ="activity_type" style="width: 150px;"> 
		 <option value="{{ activity_type_value }}"> {{ activity_type_show }}</option>
 	     </select> 
</td>
</tr><tr>
	    <td> Status: </td>
<td>
	    <select name ="activity_status" style="width: 150px;">
		<option value="{{ activity_status_value }}"> {{ activity_status_show }}</option>
 	    </select>
</td>
</tr><tr>
	    <td> Priority: </td>
<td>
	    <select name ="activity_priority" style="width: 150px;">
		<option value="{{ activity_priority_value }}"> {{ activity_priority_show }}</option>
 	    </select>
</td>
</tr><tr>
	    <td> Presider: </td>
<td>
	    <select name ="who_preside" style="width: 150px;">
		<option value="{{ activity_presider_value }}"> {{ activity_presider_show }}</option>
 	    </select>
</td>
</tr>
	    <td> Note:		 </td>
</table>
	    <TEXTAREA NAME="note" COLS=50 ROWS=6></TEXTAREA><br><br>	
	    <button type="submit" name="submit" id="submit" value="save"> Save </button>
	  </fieldset>
</form>
{% endblock %}
 
<script>
var hide = 1;
function fill_activity_edit(){
  
//	$.getJSON("/editactivity", { "directory": "edit_activity" }, function(jsonData) {
//		var leadValues = $( "#origin_id" );
//		$.each(jsonData.recordset,function(key, value) {
//		leadValues.append('<option value=' + value.key + '>' + value.value + '</option>');
//		});
//	})
//	.error(function() { alert("error"); });
}
//
//$( document ).ready( function() {
//	fill_activity_edit();
//	});
 
</script>

{% include web/footer.html %}

