{% include web/header.html %}

{% block meat %}
<form action="/editactivityrequest" method="post">
<input type="hidden" name="activity_id" value="{{ activity_id }}">
	  <fieldset>
	    <legend>Editing activity:</legend>
<table id="edit_activity_id" border="1">
<tr>
	    <td> Subject: </td>
	    <td> <input type="text" name="activity_name" value=""> </td>
</tr><tr>
	    <td> Type: </td>
	    <td> <select name ="activity_type" style="width: 150px;"> 
		 <option value="{{ activity_type_value }}"> {{ activity_type_show }}</option>
 	     </select> 
</td>
</tr><tr>
	    <td> Status: </td>
<td>
	    <select name ="activity_status" style="width: 150px;">
		<option value="{{ activity_status_value }}"> {{ activity_status_show }}</option>
 	    </select>
</td>
</tr><tr>
	    <td> Priority: </td>
<td>
	    <select name ="activity_priority" style="width: 150px;">
		<option value="{{ activity_priority_value }}"> {{ activity_priority_show }}</option>
 	    </select>
</td>
</tr><tr>
	    <td> Presider: </td>
<td>
	    <select name ="who_preside" style="width: 150px;">
		<option value="{{ activity_presider_value }}"> {{ activity_presider_show }}</option>
 	    </select>
</td>
</tr>
	    <td> Note:		 </td>
</table>
	    <TEXTAREA NAME="note" COLS=50 ROWS=6></TEXTAREA><br><br>	
	    <input type="submit" value="Submit">
	  </fieldset>
</form>
{% endblock %}
 
<script>
var hide = 1;
function fill_activity_edit(){
  
//	$.getJSON("/editactivity", { "directory": "edit_activity" }, function(jsonData) {
//		var leadValues = $( "#origin_id" );
//		$.each(jsonData.recordset,function(key, value) {
//		leadValues.append('<option value=' + value.key + '>' + value.value + '</option>');
//		});
//	})
//	.error(function() { alert("error"); });
}
//
//$( document ).ready( function() {
//	fill_activity_edit();
//	});
 
</script>

{% include web/footer.html %}

<!--
<form action="/editcontact" method="post">
Company name:<input type="text" name="company_name" value=""><br><br>
<table>
<tr>
<td>Status:</td> <td> <input type="text" name="status" value=""></td>
<td>FirstName:</td> <td> <input type="text" name="firstName" value=""></td>
</tr><tr>
<td>LastName:</td> <td> <input type="text" name="lastName" value=""></td>
<td>Address:</td> <td> <input type="text" name="address" value=""></td>
</tr><tr>
<td>Primary phone:</td> <td> <input type="text" name="primary_phone" value=""></td>
<td>Alt phone:</td> <td> <input type="text" name="alt_phone" value=""></td>
</tr><tr>
<td>Mobile phone:</td> <td> <input type="text" name="mobile_phone" value=""></td>
<td>Fax:</td> <td> <input type="text" name="fax" value=""></td>
</tr><tr>
<td>Email:</td> <td> <input type="text" name="email" value=""></td>
<td>Twitter:</td> <td> <input type="text" name="twitter" value=""></td>
</tr><tr>
<td>Linkedin:</td> <td> <input type="text" name="linkedin" value=""></td>
<td>Facebook:</td> <td> <input type="text" name="facebook" value=""></td>
</tr><tr>
<td>Job title:</td> <td> <input type="text" name="job_title" value=""></td>
<td>Company id:</td> <td> <input type="text" name="company_id" value=""></td>
</tr><tr>
<td>When met:</td> <td> <input type="text" name="when_met" value=""></td>
<td>Where met:</td> <td> <input type="text" name="where_met" value=""></td>
</tr><tr>
<td>Time zone:</td> <td> <input type="text" name="time_zone" value=""></td>
<td>Main contact:</td> <td> <input type="text" name="main_contact" value=""></td>
</tr><tr>
<td>Out of_marketing:</td> <td> <input type="text" name="out_of_marketing" value=""></td>
<td>Out of_billing:</td> <td> <input type="text" name="out_of_billing" value=""></td>
</tr><tr>
<td>Extra info:</td> <td> <input type="text" name="extra_info" value=""></td>
<td>	    <input type="submit" value="   Submit  "></td>
</tr>
</table>
	  </fieldset>
</form>
//-->

