{% include web/header.html %}

<h3>Leads and contacts list</h3>

<fieldset>
<legend>XXXXX</legend>

<table id="lead_table" border="1">

</table>
<br><br>
<a href="/lead?action=add">
<button id="add_lead"   type="button">Add Lead</button>
</a>

</fieldset>

<script>

function listLeads() {

  
	$.getJSON("/lead", {"action":"list", "directory": "lead_content"}, function(jsonData) {

		var bHeader = true;

		var sourceTable= $( "#lead_table" );
		tr = $('<tr/>');
		tr.append("<th>" + "Click Edit..."  + "</th>");
		tr.append("<th>" + "Company" + "</th>");
		tr.append("<th>" + "Contact" + "</th>");
		tr.append("<th>" + "Title" + "</th>");
		tr.append("<th>" + "First Name" + "</th>");
		tr.append("<th>" + "Last Name" + "</th>");
		tr.append("<th>" + "Phone" + "</th>");
		tr.append("<th>" + "Email" + "</th>");
		tr.append("<th>" + "Street_addr" + "</th>");
		tr.append("<th>" + "City" + "</th>");
		tr.append("<th>" + "State" + "</th>");
		tr.append("<th>" + "Post Code" + "</th>");
		tr.append("<th>" + "Country" + "</th>");
		sourceTable.append(tr);

		$.each(jsonData.lead ,function(key, value) {


			tr = $('<tr/>');
                          tr.append("<td>" + "<a href=\"/lead?action=edit&directory=lead&lead_id=" + value.lead_id +"\"" +">Go...</a>"  + "</td>");
                          tr.append("<td>" + value.company_name + "</td>");
                          tr.append("<td>" + value.contact_name + "</td>");
                          tr.append("<td>" + value.personal_title + "</td>");
                          tr.append("<td>" + value.first_name + "</td>");
                          tr.append("<td>" + value.last_name + "</td>");
                          tr.append("<td>" + value.phone + "</td>");
                          tr.append("<td>" + value.email + "</td>");
                          tr.append("<td>" + value.street_addr + "</td>");
                          tr.append("<td>" + value.city + "</td>");
                          tr.append("<td>" + value.state + "</td>");
                          tr.append("<td>" + value.post_code + "</td>");
                          tr.append("<td>" + value.country + "</td>");
//                          tr.append("<td>" + value.bill_addr + "</td>");
//                          tr.append("<td>" + value.ship_addr + "</td>");
//                          tr.append("<td>" + value.lead_source_description + "</td>");
//                          tr.append("<td>" + value.lead_status_description + "</td>");
//                          tr.append("<td>" + value.lead_rating_description + "</td>");
			sourceTable.append(tr);
		});
	})
	 .error(function (XMLHttpRequest, textStatus, errorThrown) {
	alert(XMLHttpRequest.responseText);
	});
}


$( document ).ready( function(){
	listLeads();
});
 
</script>
 
{% include web/footer.html %}
   


