{% include web/header.html %}

<h3>All contacts list</h3>

<table id="contact_table" border="1">

</table>
 
<script>
function listContacts() {
  
	$.getJSON("/listcontact", { "directory": "contact_content"}, function(jsonData) {

		var bHeader = true;

		var sourceTable= $( "#contact_table" );

		$.each(jsonData.contact ,function(key, value) {
			if(bHeader){
				bHeader = false;
				tr = $('<tr/>');
				var keys = Object.keys(value);
				Object.keys(value).forEach(function(k) {
				  tr.append("<th>" + k + "</th>");});
				sourceTable.append(tr);
			}

			tr = $('<tr/>');
                        tr.append("<td>" +  value.contact_status + "</td>");
                        tr.append("<td>" +  value.first_name + "</td>");
                        tr.append("<td>" +  value.last_name + "</td>");
                        tr.append("<td>" +  value.contact_source + "</td>"); 
                        tr.append("<td>" +  value.address + "</td>");
                        tr.append("<td>" +  value.primary_phone + "</td>");
                        tr.append("<td>" +  value.alt_phone + "</td>");
                        tr.append("<td>" +  value.mobile_phone + "</td>");
                        tr.append("<td>" +  value.fax + "</td>");
                        tr.append("<td>" +  value.email + "</td>");
                        tr.append("<td>" +  value.twitter + "</td>");
                        tr.append("<td>" +  value.linkedin + "</td>");
                        tr.append("<td>" +  value.facebook + "</td>");
                        tr.append("<td>" +  value.job_title + "</td>");
                        tr.append("<td>" +  value.company_id + "</td>");
                        tr.append("<td>" +  value.when_met + "</td>");
                        tr.append("<td>" +  value.where_met + "</td>");
                        tr.append("<td>" +  value.time_zone + "</td>");
                        tr.append("<td>" +  value.main_contact + "</td>");
                        tr.append("<td>" +  value.out_of_marketing + "</td>");
                        tr.append("<td>" +  value.out_of_billing + "</td>");
                        tr.append("<td>" +  value.extra_info + "</td>");
                        tr.append("<td>" +  value.contact_id + "</td>");
			sourceTable.append(tr);
		});
	})
	 .error(function (XMLHttpRequest, textStatus, errorThrown) {
	alert(XMLHttpRequest.responseText);
	});
}


$( document ).ready( function(){
	listContacts();
});
 
</script>

{% include web/footer.html %}
