{% include web/header.html %}

From:
<select id="from_id" style="width: 150px;" >
<option value="0"></option>
<option value="vendor">Vendor</option>
<option value="customer" selected>Customer</option>
<option value="lead">Lead</option>
</select>

<p></p>
 
<script>
function fill_source() {
  var multipleValues = $( "#from_id" ).val() || [];
  
  if(multipleValues == "0"){ 
//	window.alert(multipleValues);
  } else{
	$.getJSON("/listcontact", {"directory": multipleValues},
		function(jsonData) {
		  alert(jsonData);
	});
  }
}

 
$( "#from_id" ).change( fill_source );
//$( "select" ).change( displayVals );
//fill_source();
</script>
 
</body>
</html>

{% include web/footer.html %}


