{% include web/header.html %}

<h3>Employee list</h3>

<fieldset>
<legend>XXXXX</legend>

<table id="employee_table" border="1">

</table>
<br><br>
<a href="/addemployee">
<button id="add_employee"   type="button">Add Employee</button>
</a>

</fieldset>

<script>
function listEmployees() {
  
	$.getJSON("/employee", { "action":"list", "directory": "employee_content"}, function(jsonData) {

	var sourceTable= $( "#employee_table" );
	tr = $('<tr/>');
	tr.append("<th>" + "Click Edit..." + "</th>");
	tr.append("<th>" + "first_name" + "</th>");
	tr.append("<th>" + "last_name" + "</th>");
	tr.append("<th>" + "age" + "</th>");
	tr.append("<th>" + "address" + "</th>");
	tr.append("<th>" + "mobile_phone" + "</th>");
	tr.append("<th>" + "office_phone" + "</th>");
	tr.append("<th>" + "home_phone" + "</th>");
	tr.append("<th>" + "email" + "</th>");
	tr.append("<th>" + "job_title" + "</th>");
	tr.append("<th>" + "department_name" + "</th>");
	tr.append("<th>" + "Manager" + "</th>");
	tr.append("<th>" + "create_date" + "</th>");
	tr.append("<th>" + "created_by" + "</th>");
	sourceTable.append(tr);



	$.each(jsonData.employee ,function(key, value) {


		tr = $('<tr/>');
		tr.append("<td>" + "<a href=\"/employee?action=edit&from=employee&employee_id=" + value.employee_id +"\"" +">Go...</a>"  + "</td>");
		tr.append("<td>" + value.first_name + "</td>");
		tr.append("<td>" + value.last_name + "</td>");
		tr.append("<td>" + value.age + "</td>");
		tr.append("<td>" + value.address + "</td>");
		tr.append("<td>" + value.mobile_phone + "</td>");
		tr.append("<td>" + value.office_phone + "</td>");
		tr.append("<td>" + value.home_phone + "</td>");
		tr.append("<td>" + value.email + "</td>");
		tr.append("<td>" + value.job_title + "</td>");
		tr.append("<td>" + value.department_name + "</td>");
		//tr.append("<td>" + value.reports_to + "</td>");
		tr.append("<td>" + "<a href=\"/employee?action=display&employee&employee_id=" + value.reports_to +"\"" +">View manager...</a>"  + "</td>");
		tr.append("<td>" + value.create_date + "</td>");
	//	tr.append("<td>" + value.created_by + "</td>");
		tr.append("<td>" + "<a href=\"/employee?action=display&employee&employee_id=" + value.created_by +"\"" +">Go...</a>"  + "</td>");
		sourceTable.append(tr);
		});
	})
	 .error(function (XMLHttpRequest, textStatus, errorThrown) {
	alert(XMLHttpRequest.responseText);
	});
}


$( document ).ready( function(){
	listEmployees();
});
 
</script>
 
{% include web/footer.html %}
   


