{% include web/header.html %}

Current avtivities list:
<table style="width:100%"  border="1">
<tr>
	<th>Name</th>
	<th>Type</th>
	<th>Status</th>
	<th>Priority </th>
	<th>Manager</th>
	<th>Date planed</th>
	<th>Note</th>
</tr>
{% block meat %}
<tr>
<td>{{ activity_name }}</td>
<td>{{ activity_type }}</td>
<td>{{ activity_status }}</td>
<td>{{ activity_priority }}</td>
<td>{{ who_preside }}</td>
<td>{{ when_created }}</td>
<td>{{ note }}</td>
</tr>

{% endblock %}

</table>

{% include web/footer.html %}
 
