{% include web/header.html %}

{% block meat %}
<form action="searchcustomerrequest" method="post">
	  <fieldset>
	    <legend>Seaches satisfying the following conditions:</legend>
	    First name:<br>
	    <input type="text" name="first_name" value=""><br><br>
	    Last name:<br>
	    <input type="text" name="last_name" id="txtAutoComplete" list="lastnamelist" value="Mouse" onChange="fillLastName()" ><br><br>
		<datalist id="lastnamelist">
		</datalist>
<br><br>
	    Phone:<br>
	    <input type="text" name="phone" value=""><br><br>
	    Address:<br>
	    <input type="text" name="address" value=""><br><br>	
	    <input type="submit" value="Search...">
	  </fieldset>
</form>
{% endblock %}

<!-- Intellisense Autocomplete -->
<script>
function fillLastName() {
  
	$.getJSON("/listcustomer", { "directory": "last_name"}, function(jsonData) {

		$.each(jsonData.last_name ,function(key, value) {
			$('#lastnamelist').append("<option value='" + value  + "'>");
		});
	})
	 .error(function (XMLHttpRequest, textStatus, errorThrown) {
	alert(XMLHttpRequest.responseText);
	});
}
 
</script>
{% include web/footer.html %}
   
