{% include web/header.html %}

{% block meat %}

	<h3> There are {{ compaign_num }}  compaigns </h3>
<table style="width:100%">
  <tr>
    <th>Compaign</th>
    <th>Description</th> 
    <th>Status</th>
    <th>Start Date</th>
    <th>Close Date</th>
  </tr>
{% block compaign_block %}
  <tr>
    <td> {{ compaien_name }} </td> 
    <td> {{ description }} </td> 
    <td> {{ status }} </td> 
    <td> {{ start_date }} </td> 
    <td> {{ close_date }} </td> 
  </tr>  
{% endblock %}
</table>
<br>


	<h3> {{ opportunity_num }} Opportinties </h3>
<table style="width:100%">
  <tr>
    <th>Opportinity</th>
    <th>Contact with</th> 
    <th>Pipeline</th>
    <th>Amount</th>
    <th>Probability</th>
    <th>Close date</th>
  </tr>
{% block opportunity_block %}
  <tr>
    <td> {{ opportunity }} </td> 
    <td> <a herf =/contact/{{ id }}> {{ contactee }} </a> </td> 
    <td> {{ pipeline }} </td> 
    <td> {{ amount }} </td> 
    <td> {{ probablity }} </td> 
    <td> {{ close_date }} </td> 
  </tr>  
{% endblock %}
</table>

	<h3> {{ activity_num }} Activities </h3>
<table style="width:100%">
  <tr>
    <th>Activity</th>
    <th>Who to Contact</th> 
    <th>Note</th>
  </tr>
{% block activity_block %}
  <tr>
    <td> {{ activity }} </td> 
    <td><a herf =/contact/{{ id }}> {{ contactee }} </a></td> 
    <td> {{ note }} </td> 
  </tr>  
{% endblock %}
</table>

	<h3> {{ task_num }} Tasks </h3>
<table style="width:100%">
  <tr>
    <th> Taske</th>
    <th>Description</th> 
    <th>Status</th>
    <th>Due Date</th>
  </tr>
{% block task_block %}
  <tr>
    <td> {{ task }} </td> 
    <td> {{ description }} </td> 
    <td> {{ status }} </td> 
    <td> {{ due_date }} </td> 
  </tr>  
{% endblock %}
</table>

{% endblock %}

{% include web/footer.html %}
 
